div.container {padding:0;}

div.panel-heading {padding:5px 15px;}
.fengexian {
    height: 20px;
    background: url(../images/bg.png) 100% 0 no-repeat;
    margin: 0 ;
}

.index-ad {margin: 10px 0;}
.index-right-box {text-align: center;margin: 20px 0; width: 100%;}
.header-menu a{color: black; font-size: 12px;}
.header-menu a:hover{color: #e66100; font-size: 12px;}

.index_box {
	float: left;
    width: 214px;
    margin: 0 20px 0 0;
    _overflow: hidden;
    _height: 66px;
    padding: 15px 0 16px 10px;
    height: 70px;
    border-bottom: 1px solid #f3f3f3;
}

.index_box div {
	display: block;
}
.index_box a {
    margin-bottom: 4px;
    display: inline-block;
    font-weight: bold;
    color: #014cd2;
    text-decoration: none;
}

.index_box span {
    font-family: arial,"Sim Sun";
    font-size: 12px;
    color: #666;
}