<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {load href="static/css/bootstrap.min.css" /}
    <title>蜻蜓导航 | 找到想去的地方 </title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="蜻蜓导航, 网址导航, 网站导航, APP导航, 公众号导航, 小程序导航, 手机网站导航, 好站推荐">
    <meta name="description" content="蜻蜓导航, 一个专业导航网站，专注于互联网网站和手机网站导航，移动APP、公众号、小程序导航!">
    </head>
    <body>
        <div class="container">
            <div class="row" style="border-bottom: 1px solid #eee; margin: 10px 0 10px 0;">
                <div class="">
                    <img src="static/images/logo.png" width="180px" height="70px">
                </div>
            </div>
        </div>
        <div class="container">
            {volist name="wangye" id="vo" key="k"}
           <div class="row">
                <div class="col-xs-12">
                    <h4>{$key}</h4> 
                    <ul class="list-unstyled list-inline">
                    {volist name="vo" id="news"}
                       <li> <a href="{$news.url}" target="_blank">{$news.title}</a></li>
                    {/volist}
                    </ul>
                </div>
            </div> 
            {/volist}
        </div>
         <div class="container">
            <div class="page-footer">
            <div class="row">
                <div class="col-xs-12" style="border-top:1px solid #eee; margin:20px 0 20px; padding:10px 0 0 0; text-align:center;">
                    京ICP备09036132号-5
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
