<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {load href="static/css/bootstrap.min.css" /}
        {load href="static/css/style.css" /}
         {load href="static/js/baidu.js" /}
    <title>{$title}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{$keyword}">
    <meta name="description" content="{$description}">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    </head>
    <body>
        <div class="container">
            <div class="row" style="margin: 10px 0 10px 0;">
                <div class="col-xs-2">
                    <img src="static/images/logo.png" width="180px" height="70px">                    
                </div>
                <div class="col-xs-10 header-menu">
                    <a href="news" target="_blank">新闻</a>                
                </div>
            </div>
        </div>