<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {load href="static/css/bootstrap.min.css" /}
        {load href="static/css/style.css" /}
         {load href="static/js/baidu.js" /}
    <title>{$title}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{$keyword}">
    <meta name="description" content="{$description}">
    </head>
    <body>
        <div class="container">
            <div class="row" style="border-bottom: 1px solid #eee; margin: 10px 0 10px 0;">
                <div class="">
                    <img src="static/images/logo.png" width="180px" height="70px">                    
                </div>
            </div>
        </div>